﻿@using DD.Store.Models.Cart;
@model OrderModel

<div id="order-modal" class="container-modal details @(@Model.isValid ? "" : "open")">
    <div class="element modal-box">
        <button id="close" onclick="CloseModal()" class="button-close">&times;</button>
        <form id="formMessage" asp-area="" asp-controller="Cart" asp-action="Index" method="post">
            <div class="modal-field">
                <input asp-for="@Model.Client.FirstName" placeholder="Имя" />
            </div>
            <span class="validation" asp-validation-for="@Model.Client.FirstName"></span>
            <div class="modal-field">
                <input asp-for="@Model.Client.LastName" placeholder="Фамилия" />
            </div>
            <span class="validation" asp-validation-for="@Model.Client.LastName"></span>
            <div class="modal-field">
                <input asp-for="@Model.Client.Address" placeholder="Адрес" />
            </div>
            <span class="validation" asp-validation-for="@Model.Client.Address"></span>
            <div class="modal-field">
                <input asp-for="@Model.Client.Phone" placeholder="Телефон" />
            </div>
            <span class="validation" asp-validation-for="@Model.Client.Phone"></span>
        </form>
        <button id="send" class="button-order" form="formMessage">Заказать</button>
    </div>
</div>

<div class="container-product">
    @foreach (var cart in Model.Cart.CartItems)
    {
        <div id="id-@cart.Product.Id" class="element product">
            <div class="product-image-avatar">
                <img loading="lazy" fetchpriority="low"
                     src="@cart.Product.ImagePath">
            </div>
            <div class="product-info">
                <div class="product-name">
                    @cart.Product.Brand @cart.Product.Model
                </div>
            </div>
            <div class="count-panel">
                <button onclick="NumberDown('@cart.Product.Id')" class="count-button">-</button>
                <input oninput="Input('@cart.Product.Id')" onchange="Change('@cart.Product.Id')" class="count-value" value="@cart.Number">
                <button onclick="NumberUp('@cart.Product.Id')" class="count-button">+</button>
            </div>
            <div data-price="@cart.Product.Price" class="product-price">
                @(cart.Product.Price * cart.Number)₽
            </div>
            <batton onclick="Delete('@cart.Product.Id')" type="button" class="button-delete-cart">
                <img loading="lazy" fetchpriority="low"
                     src="~/image/icon-delete.png">
            </batton>
        </div>
    }
</div>
<div class="element-cart">
    <div class="cart-sidebar">
        <div>
            <p class="cart-price">
                Итого:
                <div>
                    <span class="global-number">@Model.Cart.GetTotalNumber()</span> шт.
                </div>
                <div>
                    <span class="global-price">@Model.Cart.GetTotalPrice()</span> ₽
                </div>
            </p>
            <batton type="button" onclick="OpenModal()" class="button-cart-shop"><p>Заказать</batton>
        </div>
    </div>
</div>
<link rel="stylesheet" href="~/css/cart.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/modal.css" asp-append-version="true" />
<script src="~/js/cart.js" asp-append-version="true"></script>