﻿@using DD.Store.Models.Cart;
@model OrderModel
<div class="order-list">
    <div class="order-cart-item">
        <div class="order-field">
            <p class="order-field-name">Имя</p>
            <p class="order-field-value">@Model.Client.LastName</p>
        </div>
        <div class="order-field">
            <p class ="order-field-name">Фамилия</p>
            <p class="order-field-value">@Model.Client.FirstName</p>
        </div>
        <div class="order-field">
            <p class="order-field-name">Адрес</p>
            <p class="order-field-value">@Model.Client.Address</p>
        </div>
        <div class="order-field">
            <p class="order-field-name">Телефон</p>
            <p class="order-field-value">@Model.Client.Phone</p>
        </div>
        <div class="order-field">
            <p class="order-field-name">Стоимость заказа</p>
            <p class="order-field-value">@Model.Cart.GetTotalPrice()</p>
        </div>
    </div>

    <div class="order-cart-product">
        @foreach (var product in Model.Cart.CartItems)
        {
            <div class="order-element product">
                <div class="product-image-detail">
                    <div class="product-image">
                        <img loading="lazy" fetchpriority="low"
                             src="@product.Product.ImagePath">
                    </div>
                </div>
                <div class="product-info">
                    <div class="product-name">
                        @product.Product.Brand @product.Product.Model
                    </div>
                    <div class="product-description">
                        @foreach (var att in product.Product.Attributes)
                        {
                            <font color="#808080">@att.Description@(att.Type != "" ? $", {att.Type}" : ""):  </font>

                            @att.Value

                            <br>
                        }
                    </div>
                </div>
                <div class="product-sidebar">
                    <div class="product-price">
                        @(product.Product.Price*product.Number) ₽
                    </div>
                    <div class="product-price attr">
                        @product.Number шт.
                    </div>
                    <div class="product-price attr">
                        @product.Product.Price ₽ / шт.
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<link rel="stylesheet" href="~/css/order.css" asp-append-version="true" />