﻿<nav class="header">
    <div class="header-user">
        <div id="button-user" onclick="Login()">Вход</div>
    </div>
    <img onclick="Home()" class="logo" loading="lazy" fetchpriority="low"
         src="/image/logo.png">
</nav>

<div class="modal-account">
    <div class="account-action-window">
        <div class="element account-menu">
            <a id="button-account" class="button-action-account" href="/account/profile">
                <img class="icon-menu" loading="lazy" fetchpriority="low"
                     src="/image/icon-account.png">
                <span>Профиль</span>
            </a>
            <a id="button-exit" class="button-action-account" href="/account/exit">
                <img class="icon-menu" loading="lazy" fetchpriority="low"
                     src="/image/icon-exit.png">
                <span>Выход</span>
            </a>
        </div>
    </div>
</div>

