﻿body {
    
}

table {
    width: 100%;
    margin-top: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 0.9px 20px 0px;
}

.table-users {
    border-radius: 16px;
}
.button-edit-user, .button-delete-user img {
    width: 28px;
}


#top-left {
    border-top-left-radius: 16px;
}

#top-right {
    border-top-right-radius: 16px;
}

#bot-left {
    border-bottom-left-radius: 16px;
}

#bot-right {
    border-bottom-right-radius: 16px;
}

table th {
    font-family: sans-serif;
    padding: 20px;
}


table td {
    font-family: sans-serif;
    padding: 20px;
}

#header {
    /*background-color: #cecdffff;*/
    background: linear-gradient(to right, #cecdffff, #aff5ff5f, #fddbffff);
}

.black {
    /*background-color: #cecdff56;*/
    /*градиент хуйня переделать или удалить*/
    background: linear-gradient(to right, #cecdff56, #aff5ff38, #fddbff54);
}

.white {
    background-color: #ffffff;
}

.td-action {
    width: 10px;
}

.button-create-category {
    text-decoration: none;
}