﻿.product-image-avatar img {
    width: 70px;
    height: 50px;
}
.product-info {
    margin: 10px;
    width: 280px;
}

.product {
    margin-top: 10px;
    padding: 10px;
    height: 70px;
}

.count-panel {
    display: flex;
    border: 1px solid #e5e5e5;
    border-radius: 8px;
    height: 30px;
    margin-right: 20px;
    margin-top: 10px;
}

.count-button {
    line-height: 1.5;
    outline: none;
    height: 30px;
    width: 30px;
    border: none;
    background: rgba(0,0,0,0);
    align-items: center;
    transform: translate(0, -8%);
}

.count-value {
    height: 27px;
    width: 40px;
    text-align: center;
}

.button-delete-cart {
    width: 30px;
    height: 30px;
    color: black;
    font-size: 19px;
    border-radius: 25px;
    text-align: center;
    border: 1px solid #e5e5e5;
    border-radius: 8px;
}

.product-price {
    width: 80px;
    text-align: center;
    margin-top: 10px;
}

.button-delete-cart {
    margin-top: 10px;
    margin-right: 5px;
}

.button-delete-cart img {
    transform: translate(0, -13%);
    width: 16px;
    height: 16px;
}

    .button-delete-cart:hover {
        background-color: #f6f6f6;
    }

    .element-cart {
        margin: 10px;
    }

.cart-sidebar {
    background-color: white;
    padding: 20px;
    border-radius: 3px;
}

.cart-price {
    font-size: 19px;
    font-weight: 500;
}

.button-cart-shop {
    background-color: #827ffe;
    color: white;
        border-radius: 4px;
}
    .button-cart-shop:hover {
        background-color: #5453a3;
    }

.element {
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0;
    border-radius: 3px;
}

.product-name:hover {
    color: black;
    cursor: default;
}