﻿body {
    background-color: white;
    font-family: Ubuntu-Regular, sans-serif;
}

.container-login {
    width: 100%;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.container-button-login {
    width: 400px;
}

.button-login {
    font-family: Ubuntu-Bold;
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
    width: 100%;
    height: 62px;
    background-color: #827ffe;
    border-radius: 3px;
    transition: all 0.4s;
    border: none;
    font-family: Ubuntu-Regular, sans-serif;
    font-size: 21px;
}

    .button-login:hover {
        background-color: #5453a3;
    }


.login-field {
    width: 400px;
    background-color: #e6e6e6;
    border: 1px solid transparent;
    border-radius: 3px;
    margin-top: 16px;
}

    .login-field input {
        font-family: Ubuntu-Bold;
        color: #403866;
        font-size: 18px;
        display: block;
        width: 100%;
        background: transparent;
        height: 62px;
        padding: 0 20px 0 38px;
        font-family: Ubuntu-Regular, sans-serif;
    }

.login-title {
    font-size: 30px;
    color: #403866;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    display: block;
    margin-bottom: 50px;
}

.login-flex-action {
    display: flex;
    flex-direction: row-reverse;
}

.register {
    margin-top: 9px;
    margin-bottom: 5px;
}

    .register a {
        text-decoration: none;
        color: #827ffe;
    }

        .register a:hover {
            color: #5453a3;
        }
