﻿.container-modal {
    position: fixed; /*от скролинга*/
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 99998;
    background-color: rgba(0,0,0,.2);
    display: grid;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}

    .container-modal.open {
        visibility: visible;
    }

    .modal-box {
        max-width: 800px;
        padding: 10px 50px 35px 50px;
        border-radius: 13px;
        background-color: whitesmoke;
    }

.modal-field {
    background-color: white;
    margin-top: 8px;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 8px;
    padding: 2px 3px 2px 3px;
}

    .modal-field input {
        height: 60px;
        width: 400px;
    }

.button-order {
    background-color: white;
    margin-top: 15px;
    margin-left: 285px;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 8px;
    padding: 2px 3px 2px 3px;
    height: 40px;
    width: 120px;
}

.validation {
    color:red;
}

.button-close {
    border: none;
    background-color: whitesmoke;
    padding-bottom: 5px;
    margin-left: 362px;
    font-size: 50px;
    color: gray;
}