﻿.order-cart-product {
    display: flex;
    flex-direction: column;
}

.product {
    margin-top: 0px;
}

.order-element {
    background-color: white;
}

.order-cart-item {
    width: 740px;
    padding: 20px;
    background-color: white;
    margin-bottom: 20px;
}

.order-list {
    display: flex;
    flex-direction: column;
}

.order-field {
    display: flex;
}

.order-field-name {

}

.order-field-value {
    margin-left: auto;
}


.attr {
    color: #808080;
}

@media (max-width: 1400px) {
    .product {
        width: 640px;
    }
    .order-cart-item {
        width: 640px;
    }
    .attr {
        width: 140px;
    }
}

