﻿body {
    background-color: white;
    font-family: sans-serif;
}

.container-register {
    width: 100%;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.container-button-register {
    margin-top: 20px;
    width: 400px;
}

.button-register {
    font-family: Ubuntu-Bold;
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
    width: 100%;
    height: 62px;
    background-color: #827ffe;
    border-radius: 3px;
    transition: all 0.4s;
    border: none;
    font-family: sans-serif;
    font-size: 21px;
}

.button-register:hover {
    background-color: #5453a3;
}


.register-field {
    width: 400px;
    background-color: #e6e6e6;
    border: 1px solid transparent;
    border-radius: 3px;
    margin-top: 16px;
}

    .register-field input {
        width: 400px;
        color: #403866;
        font-size: 18px;
        background: transparent;
        height: 62px;
        padding: 0 20px 0 38px;
        font-family: sans-serif;
    }

.register-select {
    color: #403866;
    font-size: 18px;
    height: 62px;
    padding: 0 20px 0 38px;
    font-family: sans-serif;
}

    .register-select option {
        /*как выставить высоту?*/
    }

    .register-title {
        font-size: 30px;
        color: #403866;
        text-transform: uppercase;
        text-align: center;
        width: 100%;
        display: block;
        margin-bottom: 50px;
    }

.option-init {
    color: rgb(117,117,117);
}

.name-attributes {
    position: absolute;
    visibility: hidden;
}

.validation {
    color: #b20000
}

.input-file {
    
    
    display: flex;
}
    .input-file span {
        
        cursor: pointer;
        color: rgb(255 255 255);
        border-radius: 4px;
        background-color: #f08eff;
        padding: 10px 30px;
        transition: all 0.4s;
    }

    .input-file input[type=file] {
        opacity: 0;
        display: block;
        width: 0;
        height: 0;
    }

    .input-file:hover span {
        background-color: #c265d0;
    }
input {
    padding: 0px;
}
.file-container {
    margin-top: 15px;
    display: flex;
    flex-direction: row-reverse;
}

#validation-file {
    margin: 10px 20px 0 0;
}