﻿

.product-image-detail {
    display: flex;
}

.product {
    height: 300px;
}
.container-product {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.flex-image-container {
    display: flex;
    flex-direction: column;
}

.product-image-avatar {
    height: 380px;
}
    .product-image-avatar img {
        width: 270px;
        height: 270px;
    }
.image-flex-item {
    width: 70px;
    height: 70px;
    padding: 0px 3px 3px 0px;
}

.product-price {
    min-height: 220px;
}