﻿

@{
    ViewData["Title"] = "Главная";
}
<div class="sidebar">
    <div class="element filters">
        <div class="container-search">
            <input id="input-search" oninput="InitProduct()" placeholder="Поиск по названию">
        </div>
    </div>
    <div class="element filters">
        <div class="container-price">
            <input id="price-min" oninput="InitProduct()" placeholder="от">
            <input id="price-max" oninput="InitProduct()" placeholder="до">
        </div>
    </div>
    <div class="element filters" id="container-filters">
        <div class="container-filters composite">
        </div>
    </div>
    <div class="element filters">
        <div class="container-sorting">
            <div onclick="InitSort('price-down')" id="price-down" class="option-sorting">Цена↓</div>
            <div onclick="InitSort('price-up')" id="price-up" class="option-sorting">Цена↑</div>
            <div onclick="InitSort('name-down')" id="name-down" class="option-sorting">Название↓</div>
            <div onclick="InitSort('name-up')" id="name-up" class="option-sorting">Название↑</div>
        </div>
    </div>
</div>

<div class="container-products">

</div>


<div class="element-cart">
    <batton type="button" onclick="OpenCart()" class="element button-cart-shop"><p>Корзина <span>0</span></p></batton>
    <batton type="button" onclick="CreateProduct()" class="element button-create-product"><p>Создать</p></batton>
    
</div>

<script src="~/js/index.js" asp-append-version="true"></script>