﻿@using DD.Store.Models.Product;
@model ProductModel

<div class="container-product">
    <div class="element product">
        <div class="product-image-detail">
            <div class="flex-image-container">
                @*@if (Model.ImagePath1 != null)
                {
                    <img onclick="InitAvatar('@Model.ImagePath1')" class="image-flex-item" loading="lazy" fetchpriority="low"
                         src="@Model.ImagePath1">
                }
                @if (Model.ImagePath2 != null)
                {
                    <img onclick="InitAvatar('@Model.ImagePath2')" class="image-flex-item" loading="lazy" fetchpriority="low"
                         src="@Model.ImagePath2">
                }
                @if (Model.ImagePath3 != null)
                {
                    <img onclick="InitAvatar('@Model.ImagePath3')" class="image-flex-item" loading="lazy" fetchpriority="low"
                         src="@Model.ImagePath3">
                }
                @if (Model.ImagePath4 != null)
                {
                    <img onclick="InitAvatar('@Model.ImagePath4')" class="image-flex-item" loading="lazy" fetchpriority="low"
                         src="@Model.ImagePath4">
                }*@
            </div>
            <div class="product-image-avatar">
                <img loading="lazy" fetchpriority="low"
                     src="@Model.ImagePath">
            </div>
        </div>
        <div class="product-info">
            <div class="product-name">
                @Model.Brand @Model.Model
            </div>
            <div class="product-description">
                @foreach(var att in Model.Attributes)
                {
                    <font color="#808080">@att.Description@(att.Type != "" ? $", {att.Type}" : ""):  </font>@att.Value<br>
                }
            </div>
        </div>
        <div class="product-sidebar">
            <div class="product-price">
                @Model.Price₽
            </div>
            <batton type="button" class="button-cart"><p>Купить</p></batton>
        </div>
    </div>
</div>
<link rel="stylesheet" href="~/css/show.css" asp-append-version="true" />

<script>
    function InitAvatar(image) {
        avatar = `<img loading="lazy" fetchpriority="low"
                    src="${image}">`
        document.querySelector('.product-image-avatar').innerHTML = avatar;
    }
</script>

<link rel="stylesheet" href="~/css/show.css" asp-append-version="true" />
<script src="~/js/show.js" asp-append-version="true"></script>