﻿@using DD.Store.Models.View;
@model CreateViewModel
<div class="container-register">
    <div class="container-form">

        <form id="formMessage" asp-area="" asp-controller="Home" asp-action="Create" method="post" enctype="multipart/form-data">
            <div class="register-title">@Model.Title товар</div>
            <div>
                <div class="register-field">
                    <input asp-for="@Model.Brand" placeholder="Бренд" value="@Model.Brand" />
                </div>
            </div>
            <span class="validation" asp-validation-for="@Model.Brand"></span>
            <div>
                <div class="register-field">
                    <input asp-for="@Model.Model" placeholder="Модель" value="@Model.Model" />
                </div>
                <span class="validation" asp-validation-for="@Model.Model"></span>
            </div>
            <div>
                <div class="register-field">
                    <input asp-for="@Model.Description" placeholder="Описание" value="@Model.Description" />
                </div>
                <span class="validation" asp-validation-for="@Model.Description"></span>
            </div>
            <div>
                <div class="register-field">
                    <input asp-for="@Model.Price" placeholder="Цена" value="@Model.Price" />
                </div>
                <span class="validation" asp-validation-for="@Model.Price"></span>
            </div>

            <div>
                <select class="register-field register-select @(Model.Category==null ? "option-init" : "")" asp-for="@Model.Category" onchange="CreateAttributes()" value="@Model.Category">
                    <option class="option-init" value="">Категория</option>
                    @foreach (var category in Model.CategoryModels)
                    {
                        if (Model.Category != null && category.Name == Model.Category)
                        {
                            <option select value="@category.Name">@category.Description</option>
                        }
                        else
                        {
                            <option value="@category.Name">@category.Description</option>
                        }
                    }
                </select>
            </div>
            <span class="validation" asp-validation-for="@Model.Category"></span>
            <div id="container-attributes">
                @if (Model.Category != null)
                {

                    for (int i = 0; i < Model.Attributes.Count; i++)
                    {
                        string type = @Model.Attributes[i].Type != "" ? $", {@Model.Attributes[i].Type}" : "";
                        <div>
                            <div class="register-field">
                                <input type="@(Model.Attributes[i].DataType=="int" ? "number" : "")" name="Attributes[@i].Value" placeholder="@Model.Attributes[i].Description@type" value="@Model.Attributes[i].Value" />
                            </div>
                        </div>
                        <span class="validation" asp-validation-for="@Model.Attributes[i].Value"></span>
                    }

                }
            </div>
            <div class="file-container">
                <label class="input-file">
                    <input type="file" id="FileImage" name="FileImage" accept=".png" />
                    <span>Прикрепить изображение</span>
                </label>
                <span class="validation" id="validation-file" asp-validation-for="@Model.FileImage"></span>
            </div>
        </form>

        <div class="container-button-register">
            <button id="send" class="button-register" form="formMessage">@Model.Title</button>
        </div>
    </div>
</div>
<link rel="stylesheet" href="~/css/register.css" asp-append-version="true" />
<script src="~/js/productadmin.js" asp-append-version="true"></script>