﻿@using DD.Store.Models.Account;
@model List<UserModel>
@{
    int index = 0;
    int lenght = Model.Count();
}

<table id="table-users">
    <tr id="header">
        <th id="top-left">Имя</th>
        <th>Роль</th>
        <th>Телефон</th>
        <th></th>
        <th id="top-right"></th>
    </tr>
    @if (@Model.Count() > 1)
    {
        foreach (var user in @Model)
        {
            <tr id="id-@user.Id" class="@(++index%2==1 ? "white" : "black") @index">
                <td id="@(index==lenght ? "bot-left" : "")">@user.FirstName @user.LastName</td>
                <td>@user.Role</td>
                <td>@user.Phone</td>
                <td class="td-action">
                    <a type="button" class="button-edit-user" asp-controller="Account" asp-action="UserProfile" asp-route-id="@user.Id">
                        <img loading="lazy" fetchpriority="low"
                             src="~/image/icon-edit.png">
                    </a>
                </td>
                <td class="td-action" id="@(index==lenght ? "bot-right" : "")">
                    <a type="button" class="button-delete-user" asp-controller="Account" asp-action="Delete" asp-route-id="@user.Id">
                        <img loading="lazy" fetchpriority="low"
                             src="~/image/icon-delete.png">
                    </a>
                </td>
            </tr>
        }
    }
    else
    {
        <tr class="white">
            <td id="bot-left">Пользователей нет</td>
            <td></td>
            <td></td>
            <td></td>
            <td id="bot-right"></td>
        </tr>
    }
</table>

@*@for (int i = 0; i < Model.Count; i++)*@


<link rel="stylesheet" href="~/css/admin.css" asp-append-version="true" />