﻿@using DD.Store.Models.View;
@model LoginViewModel
<div class="container-login">
    <div class="container-form">
        <form id="formMessage" asp-area="" asp-controller="Account" asp-action="Login" method="post">
            <div class="login-title">Вход</div>
            <div class="login-field">
                <input asp-for="@Model.Login" placeholder="Логин" />
            </div>
            <span class="validation" asp-validation-for="@Model.Login"></span>
            <div class="login-field">
                <input asp-for="@Model.Password" placeholder="Пароль" />
            </div>
            <span class="validation" asp-validation-for="@Model.Password"></span>
        </form>
        <div class="login-flex-action">
            <div class="register">
                <a href="/account/register">Регистрация</a>
            </div>
        </div>
        <div class="container-button-login">
            <button id="send" class="button-login" form="formMessage">Войти</button>
        </div>
    </div>
</div>
<link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />