﻿@using DD.Store.Models.View;
@model UserViewModel
<div class="container-register">
    <div class="container-form">

        <form id="formMessage" asp-area="" asp-controller="Account" asp-action="Register" method="post">
            <div class="register-title">Регистрация</div>
            <div class="register-field">
                <input asp-for="@Model.Login" placeholder="Логин" />
            </div>
            <span class="validation" asp-validation-for="@Model.Login"></span>
            <div class="register-field">
                <input asp-for="@Model.Password" placeholder="Пароль" />
            </div>
            <span class="validation" asp-validation-for="@Model.Password"></span>

            <div class="register-field">
                <input asp-for="@Model.FirstName" placeholder="Имя" />
            </div>
            <span class="validation" asp-validation-for="@Model.FirstName"></span>
            <div class="register-field">
                <input asp-for="@Model.LastName" placeholder="Фамилия" />
            </div>
            <span class="validation" asp-validation-for="@Model.LastName"></span>

            <div class="register-field">
                <input asp-for="@Model.Phone" placeholder="Телефон" />
            </div>
            <span class="validation" asp-validation-for="@Model.Phone"></span>
        </form>

        <div class="container-button-register">
            <button id="send" class="button-register" form="formMessage">Регистрация</button>
        </div>
    </div>
</div>
<link rel="stylesheet" href="~/css/register.css" asp-append-version="true" />