﻿@using DD.Store.Models.View;
@model EditUserView;
<div class="container-register">
    <div class="container-form">
        <form id="formMessage" asp-area="" asp-controller="Account" asp-action="UserProfile" method="post">
            <div class="register-title">Редактирование</div>
            <div class="register-field">
                <input asp-for="@Model.Login" placeholder="Логин" />
            </div>
            <span class="validation" asp-validation-for="@Model.Login"></span>
            <select class="register-field register-select" asp-for="@Model.Role">
                <option value="User">User</option>
                <option value="Admin">Admin</option>
            </select>
            <span class="validation" asp-validation-for="@Model.Role"></span>
            <div class="register-field">
                <input asp-for="@Model.FirstName" placeholder="Имя" />
            </div>
            <span class="validation" asp-validation-for="@Model.FirstName"></span>
            <div class="register-field">
                <input asp-for="@Model.LastName" placeholder="Фамилия" />
            </div>
            <span class="validation" asp-validation-for="@Model.LastName"></span>
            <div class="register-field">
                <input asp-for="@Model.Phone" placeholder="Телефон" />
            </div>
            <span class="validation" asp-validation-for="@Model.Phone"></span>
        </form>
        <div class="container-button-register">
            <button id="send" class="button-register" form="formMessage">Изменить</button>
        </div>
    </div>
</div>
<link rel="stylesheet" href="~/css/register.css" asp-append-version="true" />