﻿@using DD.Store.Models.Product;
@model CategoryModel
<div class="container-register">
    <div class="container-form">
        <form id="formMessage" asp-area="" asp-controller="Category" asp-action="Create" method="post">
            <div class="register-title">Создание категории</div>

            <div class="category-line">
                <div>
                    <div class="register-field">
                        <input asp-for="@Model.Description" placeholder="Название" />
                    </div>
                    <span class="validation" asp-validation-for="@Model.Description"></span>
                </div>

                <div>
                    <div class="register-field">
                        <input asp-for="@Model.Name" placeholder="Ключевое слово" />
                    </div>
                    <span class="validation" asp-validation-for="@Model.Name"></span>
                </div>
            </div>
            <div class="category-attribute-container">
                @if (Model != null && Model.Attributes != null)
                {
                    @for (int i = 0; i < Model.Attributes.Count; i++)
                    {
                        <div class="category-line">
                            <div>
                                <div class="register-field">
                                    <input asp-for="@Model.Attributes[i].Description" placeholder="Название" />
                                </div>
                                <span class="validation" asp-validation-for="@Model.Attributes[i].Description"></span>
                            </div>

                            <div>
                                <div class="register-field">
                                    <input asp-for="@Model.Attributes[i].Name" placeholder="Ключевое слово" />
                                </div>
                                <span class="validation" asp-validation-for="@Model.Attributes[i].Name"></span>
                            </div>

                            <div>
                                <select class="register-field register-select" asp-for="@Model.Attributes[i].DataType">
                                    <option class="option-init" value="string">string</option>
                                    <option class="option-init" value="int">int</option>
                                </select>
                                <span class="validation" asp-validation-for="@Model.Attributes[i].DataType"></span>
                            </div>

                            <div>
                                <div class="register-field">
                                    <input asp-for="@Model.Attributes[i].Type" placeholder="Единица измерения" />
                                </div>
                                <span class="validation" asp-validation-for="@Model.Attributes[i].Type"></span>
                            </div>
                        </div>
                    }
                }
            </div>
        </form>
        <div class="category-line">
            <div class="container-button-register">
                <button class="button-register" onclick="CreateAttributes()">Добавить атрибут</button>
            </div>
        </div>
        <div class="container-button-register">
            <button id="send" class="button-register" form="formMessage">Создать</button>
        </div>
    </div>
</div>

<link rel="stylesheet" href="~/css/category.css" asp-append-version="true" />
<script charset="utf-8" type="text/javascript" src="~/js/category.js" asp-append-version="true"></script>