﻿@using DD.Store.Models.Product;
@model List<CategoryModel>

<table>
    @if (@Model.Count() > 0)
    {
        foreach (var category in @Model)
        {
            <tr id="header">
                <td>@category.Description</td>
                <td>@category.Name</td>
                <td>
                    <a type="button" class="button-edit-user" asp-controller="Category" asp-action="Update" asp-route-id="@category.Id">
                        <img loading="lazy" fetchpriority="low"
                             src="~/image/icon-edit.png">
                    </a>
                </td>
                <td>
                    <a type="button" class="button-delete-user" asp-controller="Category" asp-action="Delete" asp-route-id="@category.Id">
                        <img loading="lazy" fetchpriority="low"
                             src="~/image/icon-delete.png">
                    </a>
                </td>
            </tr>
            foreach (var attributes in category.Attributes)
            {
                <tr class="white" id="id-@attributes.Id">
                    <td>@attributes.Description</td>
                    <td>@attributes.Name</td>
                    <td>@attributes.DataType</td>
                    <td>@attributes.Type</td>
                </tr>
            }
        }

    }
    else
    {
        <tr class="white">
            <td id="bot-left">Список пуст</td>
            <td></td>
            <td></td>
            <td></td>
            <td id="bot-right"></td>
        </tr>
    }
    <tr class="white">
        <td>
            <a type="button" class="button-create-category" asp-controller="Category" asp-action="Create">
                Добавить
            </a>
        </td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
</table>

<link rel="stylesheet" href="~/css/admin.css" asp-append-version="true" />